---
import PageLayout from "../layouts/pageLayout.astro";
import "../styles/global.css";
import Card from "../components/blogCard.astro";
import TagList from "../components/tagList.astro";

const allPosts = Object.values(
    import.meta.glob("./posts/*.md", { eager: true }),
);
---

<PageLayout
    pageTitle="Blog"
    subHeading="A place sharing ideas, insights and experience."
>
    <div class="blog-sidebar">
        <TagList />
    </div>

    <main>
        <div class="blog-cards">
            {
                allPosts.map((post: any) => (
                    <Card
                        url={post.url}
                        title={post.frontmatter.title}
                        desc={post.frontmatter.description}
                        tags={post.frontmatter.tags}
                        date={post.frontmatter.date}
                    />
                ))
            }
        </div>
    </main>
</PageLayout>

<style>
.blog-sidebar {
    max-width: 300px;
    margin: 0 auto var(--space-6);
}
@media (min-width: 768px) {
    .blog-sidebar {
        float: right;
        margin-left: var(--space-6);
    }
}
</style>